* {
  padding: 0;
  margin: 0;
  user-select: none;
}
img {
  pointer-events: none;
}
html,
body {
  height: 100%;
}
body {
  overflow: hidden;
  background-color: gray;
  display: flex;
  flex-direction: column;
  border: solid 2px;
  box-sizing: border-box;
}
/*顶部导航栏样式设置*/
.navigate {
  border: solid 1px deeppink;
  display: flex;
  justify-content: space-between;
}
.navigate > * {
  font-size: 4vw;
  line-height: 5vw;
}
.navigate > #inspection {
  flex: 1;
}
.navigate > .menu {
  font-size: 5vw;
  width: 10vw;
}
/* 拍摄组件 */
.shoot {
  /* 浮动文本 */
  flex: 1;
  position: relative;
  overflow: hidden;
  /* 画图画版 */
  /* 水印相机组件 */
  /* 系统相机 */
}
.shoot #floating {
  position: absolute;
  display: block;
  z-index: 29;
  color: black;
  font-size: 4vw;
  white-space: nowrap;
  line-height: 1;
}
.shoot > canvas {
  display: none;
}
.shoot .watermarkCamera {
  box-sizing: border-box;
  display: none;
  height: calc(100vh - 17vw);
}
.shoot .watermarkCamera > video {
  width: 100%;
}
.shoot .watermarkCamera > .camera {
  position: absolute;
  z-index: 22;
  bottom: 16vw;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 15vw;
  height: 15vw;
  background-color: white;
  border: 1vw solid black;
  border-radius: 50%;
}
.shoot .systemCamera {
  flex: 1;
  border: solid 2px green;
}
.shoot .systemCamera > img {
  width: 100%;
}
/* 底部功能按钮 */
.selector {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: solid 1px green;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}
.selector > button {
  width: 20vw;
  height: 12vw;
  font-size: 4vw;
}
.selector > button > label {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}
.selector > input[type="file"] {
  margin-top: 50%;
  display: none;
}
